.home__wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    
    padding-bottom: 1rem;
    gap: .5rem;
    min-height: 100vh;
}

.carouselContainer {
  width: 100%; 
  max-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

.imageContainer {
  overflow: hidden;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center; /* Centra la imagen */
  align-items: center;         
}

.carouselImg {
  width: 100%; /* Cambiado a 100% para llenar el contenedor */
  height: auto; /* Mantiene la proporción */
  object-fit: cover; /* Cambiado a cover para llenar el contenedor sin distorsión */
  transform: scale(1); /* Escalado normal para pantallas grandes */
  transition: transform 0.5s ease; 
}

@media(max-width: 768px) {
  .carouselContainer {
    max-height: 200px; /* Mantiene el tamaño en pantallas pequeñas */
  }

  .carouselImg {
    transform: scale(1); 
  }
}

.promotions_container{
  display: flex;
  gap: .5rem;
  padding-top: .5rem;
  margin: .5rem;
  height: min-content;
}

.home__products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .5rem;
  padding-top: .5rem;
  margin: .5rem;
  height: min-content;
}

.home__product__card {
  width: 250px;
  transition: all 300ms ease-in-out;

}

.home__card__img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

.home__product__actions{
  margin-left: .5rem;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.home__search_product{
  max-width:10%;
}

.home__category__selector{
  width: 20%;
  margin-right: .5rem;

}

@media(max-width:768px){
  .home__products__container{
      justify-content: space-evenly;
  }
  .home__product__card{
      width: 200px;
  }

  .home__category__selector{
      width: 50%;
  }
  .home__search_product{
      max-width: 50%;
  }
}

@media(max-width:480px){
  .home__products__container{
      justify-content: center;
  }
  .home__product__card{
      width: 300px;
  }
  .home__search_product{
      max-width: 50%;
  }
  .home__category__selector{
      width: 100%;
      margin-right: .5rem;
  
  }
}


.custom-card {
  width: 250px; /* Ancho fijo para la tarjeta */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Oculta el contenido que desborda */
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.image-container {
  height: 150px; /* Altura fija para la imagen */
  overflow: hidden; /* Oculta la parte de la imagen que desborda */
  display: flex;
  justify-content: center; /* Centra la imagen */
  align-items: center; /* Centra la imagen verticalmente */
}

.card-image {
  width: 100%;
  height: auto; /* Mantiene la proporción */
  object-fit: cover; /* Rellena el contenedor sin estirarse */
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; /* Altura fija para el contenido */
}

.card-title {
  margin: 0;
  font-size: 1.2em;
}

.card-price {
  margin: 5px 0;
}

.validity {
  font-size: 0.9em;
  color: #777;
  white-space: nowrap; /* Evita saltos de línea */
  text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
}

.product-list {
  margin-top: 10px;
  max-height: 100px; /* Altura máxima para la lista de productos */
  overflow-y: auto; /* Permite desplazamiento vertical */
  padding: 0;
  list-style-type: none; /* Elimina viñetas de la lista */
}

.product-list li {
  font-size: 0.9em;
  margin: 2px 0; /* Espaciado entre los elementos de la lista */
}
